/* style.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(35, 35, 35);
  background-image: url('../pages/bgindex.png');
}
header {
  background: rgb(46, 220, 220);
  color: white;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  width: 100%;
  background-attachment: fixed;
}
.right-link {
  margin-left: auto;
}
.navbar {
  display: flex;
}

a {
  color: white;
  text-decoration: underline;
  font-size: 18px;
}
a:hover {
  text-decoration: underline;
}
.logo{
  border-radius: 50%;
  height: 10vh;
  width: fit-content;
}
nav a {
  margin: 0 15px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
.intro{
  height:40%;
  background-color: none;
}
.intro p{
  color:grey;
  padding: 10px;
  width: 70%;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 28px;
  font-style: italic;
  margin: auto;
}
main {
  padding: 2rem;
  padding-top: 15vh;
  padding-bottom:10vh ;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h2 {
  color: rgb(46, 220, 220);
}
section{
  padding: 10px;
}
.member{
  padding-top: 30px;
}
.profile-card{
  color: white;
  font-weight: 400;
  font-size: large;
  font-style: oblique;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  background: rgb(46, 220, 220);
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 8px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 10px; 
  right: 15px;
  cursor: pointer;
  font-size: 24px;
}  
form {
  padding: 2rem;
  color: black;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}  
input, select, textarea, button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background: rgb(46, 220, 220);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
.btn{
  width: 100vh;
}
button:hover {
  background: rgb(46, 220, 220);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  color: white;
} 
table, th, td {
  border: 1px solid #ccc;
}
th, td {
  padding: 0.75rem;
  text-align: center;
}
.centre{
  text-align: center;
}
#feedback-section{
  padding-left: 200px;
  padding-right: 200px;
}
footer {
  background: rgb(46, 220, 220);
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
} 